<header class="header-wrapper content-circle content-border-typeA" id="header-include">
		<div class="header-content">
			<a href="/index.html" class="header-link">
				<h1 class="header-title content-minus-indent">もちゃ’ｓ　cook</h1>
			</a>
		</div>
	</header>
