/**********************
        reset
***********************/
a {
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
img {
    display: block;
    width: 100%;
    height : 100%;
}

/***********************
        header
***********************/
.header-wrapper {
    font-size: 0;
}
.header-title {
    display: inline-block;
    vertical-align: middle;
    width : 20%;
}
.header-list {
    display: inline-block;
    perspective: 1000;
    vertical-align: middle;
    width: 80%;
    height: 100px;
    > li {
        display: inline-block;
        font-size: 14px;
        text-align: center;
        width : 25%;
        height : 100%;
        &:hover .header-item-wrapper {
            transform: rotateX(-180deg);
        }
    }
}
.header-item-wrapper {
    position: relative;
    transition: 0.4s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    >a {
        border : 1px solid lightgray;
        line-height: 80px;
    }
}
.header-item {
    backface-visibility: hidden; //後ろ見えなく
    position: absolute;
    top: 0;
    left: 0;
    &:first-child {
        color: black;
    }
    &:nth-child(2) {
        background-color: pink;
        color: white;
        transform: rotateX(180deg);
    }
}
